* {
    -webkit-transition: all 0.4s ease, font-size 0s, color 0s;
    -moz-transition: all 0.4s ease, font-size 0s, color 0s;
    -o-transition: all 0.4s ease, font-size 0s, color 0s;
    -ms-transition: all 0.4s ease, font-size 0s, color 0s;
    transition: all 0.4s ease, font-size 0s, color 0s;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: #1b1f36;
    color:#e6e6e6;
    font-family: sans-serif;
}

main {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

main > div{
    width: 100%;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* HEADER */

header {
    position: sticky;
    top:0;
    background-color: #181924;
    padding: 0.75rem;
}

header h1 {
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
}

header h1 a {
    color:#fff;
    text-decoration: none;
}

header nav {
    position: fixed;
    left: 0;
    top: -100%;
    height: fit-content;
    width: 100%;
    background: #181924;
    opacity: 0.95;
}

.navVisible {
    top:0;
}

header p{
    display: block;
}

header p.burger{
    position: fixed;
    right: 2rem;
    top: 0.2rem;
    line-height: 1;
    z-index: 1;
    font-size: 2rem;
    color: #8d8d8d;
    background-color: #181924;
    padding: 0.5rem;
    border-radius: 1rem;
}

header p.burger::before {
    content: '\2630';
}

header p.burgerchecked::before {
    content: '\2716';
}

header nav ul {
    margin-top: 2rem;
    list-style-type:none;
}

header nav ul a {
    display: block;
    text-align: center;
    padding: 1rem;
    color:#c7c7c7;
    text-decoration:none;
}

header nav ul a:hover {
    color:white;
}

header nav ul li{
    border-top: 3px solid #181924;
}

header nav ul li:hover {
    background-color: #101120;
    border-color: #ED5153;
}

header nav ul img{
    height: 36px;
    filter: contrast(0.6);
}

header nav ul img:hover{
    filter: contrast(1);
}

/* FOOTER */

footer{
    background-color: #181924;
    padding: 1rem;
}

footer nav ul {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    list-style-type:none;
}

footer nav ul a {
    display: block;
    text-align: center;
    padding: 1rem;
    color:#c7c7c7;
    text-decoration:none;
}

footer nav ul li div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #181924;
}

footer nav ul li div:hover {
    background-color: #101120;
    border-color: #ED5153;
    color:white;
}

footer nav ul li div img{
    height: 36px;
    filter: contrast(0.6);
}

header nav ul li div img:hover{
    filter: contrast(1);
}

/* Responsive MQ header */

@media all and (min-width:800px) {

    /* HEADER */

    header {
        display: flex;
        flex-direction: column;
        opacity: 0.85;
    }

    header p {
        display: none;
    }

    header nav ul a::before {
        content: "";
    }

    header nav {
        position: initial;
    }

    header nav ul {
        margin-top: 0;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    header {
        border-width: 0px 0px 4px 0px;
        border-color: #1E1E1E;
    }

    header h1 {
        text-align: center;
    }

    /* FOOTER */

    footer nav ul{
        flex-direction: row;
    }

    footer nav ul li {
        padding: 2px 10px;
        margin: 0;
    }

    footer nav ul li:nth-child(2){
        flex-grow: 1;
        max-width: 45%;
    }

}

@media all and (max-width:800px) {


    footer nav ul li:nth-child(2){
        order: -1 ;
    }

    footer nav ul li div a{
        order: -1;
    }

    * {
        font-size: 100% !important;
    }

    .planning tbody tr td {
        padding: 0.25rem;
    }

    .planning_flex div{
        padding: 0.25rem !important;
    }

    div > h2,h3,table{
        padding: 0.5rem 0;
    }

    .statistique table{
        width: 100% !important;
    }

}


table{
    width: 100%;
    border: 2px solid;
    border-collapse: collapse;
    table-layout: fixed;
}

table a{
    text-decoration: none;
    color: white;
}

table th, td{
    text-align: center;
    padding: 0.5rem;
    border: 2px solid;
    overflow-wrap: break-word;
}

table a{
    padding: 0.3rem;
    border-radius: 0.5rem;
}

table a:hover{
    background-color: rgba(16, 17, 32, 0.4);
    border: 1px solid;
}

div > h2,h3,table{
    padding: 1rem 0;
    text-align: center;
}

.planning_rapide{
    flex-basis: 25rem;
    padding: 1rem 0;
}

.planning_orange{
    background-color:#ff6600;
}
.planning_rouge{
    background-color:#ff0039d4;
}
.planning_vert{
    background-color: #2caf2c;
}
.planning thead tr th:first-child{
    width: 45%;
}

.planning_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid;
}

.planning_flex div{
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.planning_jour_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.planning_jour_menu a{
    color: #e6e6e6;
    text-decoration: none;
}
.planning_jour_menu h3{
    background-color: #181924;
    border-radius: 1rem;
    padding: 1rem;
}
.planning_jour thead tr th:last-child{
    width: 10%;
}

.statistique{
    gap: 1rem;
}
.statistique table{
    width: 48%;
}

.oublie{
    padding: 1rem;
    background-color: #181924;
    color:#fff;
    border-top: 3px solid #181924;
    border-radius: 1rem;
}

.oublie:hover{
    background-color: #101120;
    border-color: #ED5153;
    color:white;
}

.message{
    background-color: #181924;
    padding: 0.5rem 1rem;
    min-width: fit-content;
    width: 10rem;
    border-radius: 1rem;
    border: 1px solid;
}

.message:hover{
    background-color: #101120;
    border: 3px solid #ED5153;
}

.message a{
    color:#fff;
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:1rem;
    background-color: #181924;
    width: fit-content;
    padding: 1rem;
    border: 1px solid;
    margin: auto;
    border-radius: 1rem;
}

form label{
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}

form input,select{
    font-size: 1rem;
    width: fit-content;
    border-radius: 1rem;
    text-align: center;
    padding: 0.5rem;
    border: 3px solid #ED5153;
}

form input[type=text]{
    width: 20rem;
}

form[name=message]{
    flex-direction: row;
}

form div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.descriptif{
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

.descriptif > div{
    align-items: stretch;
    gap: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.descriptif div div{
    padding: 1rem;
    background-color: #181924;
    border: 2px solid #e6e6e6;
    text-align: center;
    flex-basis: 45%;
    flex-grow: 1;
    border-radius: 1rem;
}

.descriptif h3{
    padding: unset;
    padding-bottom: 1rem;
}

