* {
    box-sizing: border-box;
    transition: .25s ease-in-out;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

main {
    margin-top: 6rem;
}

header {
    position: fixed;
    top:0px;
    left: 0px;
    right:0px;
    padding: 10px;
    z-index: 0;
    background-color: #303030;
}

header h1 {
    width: 250px;
    margin: auto;
}

header h1 a {
    color:#fff;
    text-decoration: none;
}

header nav {
    position: fixed;
    top: 0;
    left:-300px;
    height: 100%;
    width: 300px;
    background: #2f2f2f;
    padding: 20px;
    opacity: 0.9;
}

.navVisible {
    left:0px;
}

header p{
    display: block;
}

header p.burger{
    position: fixed;
    right: 0px;
    top:0px;
    height:50px;
    width: 50px;
    z-index: 1;
    line-height: 1;
    font-size:3rem;
    color: #8d8d8d;
}

header p.burger::before {
    content: '\2630';
}

header p.burgerchecked::before {
    content: '\2716';
}


header nav ul {
    list-style-type:none;
}

header nav ul a {
    display:block;
    padding:10px;
    color:#c7c7c7;
    text-decoration:none;
}

header nav ul a::before {
    content:'\27A4';   
}

header nav ul a:hover {
    color:white;
}

/* Responsive MQ */

@media all and (min-width:800px) {
    header p {
        display: none;
    }
    
    header nav ul a::before {
        content:""; 
    }
    
    header nav {
        position: absolute;
        width:450px;
        padding-top:0px;
        left:initial;
        right:50px;
    }   
    
    header nav ul li {
        float: left;
        font-size: 14px;
        font-weight: 400;
        padding: 2px 15px;
        margin: 0;
        border-top: 2px solid #303030;
    }
    
    header nav ul li:hover {
        border-color: #ED5153;
        background-color: #3A3838;
    }
    
    header {
        border-width: 0px 0px 4px 0px;
        border-color: #1E1E1E;
    }
    
    header h1 {
        margin-left:50px;   
    }

}