{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="descriptif flex">
        <div class="flex">
            <div>
                <h3>Tarif</h3>
                <p>3€ par jour, et degréssif sur la durée sans supplément en cas de problème de vol</p>
            </div>
            <div>
                <h3>Réservation</h3>
                <p>Réservation instantanée en ligne, ou par téléphone/sms</p>
            </div>
        </div>
        <div class="flex">
            <div>
                <h3>Le parking</h3>
                <p>Parking clos de mur, avec de vrai place de parking</p>
            </div>
            <div>
                <h3>Localisation et accès</h3>
                <p>Accès H24, portail motorisé,Vraiment 10 minutes à pied</p>
            </div>
        </div>
    </div>


{% endblock %}
