{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="descriptif">
        <div>3€ par jour, et degréssif sur la durée sans supplément en cas de problème de vol</div>
        <div>Réservation instantanée en ligne, ou par téléphone/sms</div>
        <div>Parking clos de mur, avec de vrai place de parking</div>
        <div>Accès H24, portail motorisé,Vraiment 10 minutes à pied</div>
    </div>


{% endblock %}
